amqp
asgiref
billiard
boto3
botocore
CacheControl
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
contourpy
cron-descriptor
cryptography
cycler
decorator
diff-match-patch
distlib
dj-database-url
Django
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-import-export
django-paypal
django-storages
django-timezone-field
djangorestframework
djangorestframework-simplejwt
executing
fcm-django
filelock
firebase-admin
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httplib2
idna
ipdb
ipython
jedi
jmespath
Js2Py
kiwisolver
kombu
markdown-it-py
matplotlib
matplotlib-inline
mdurl
msgpack
numpy
outcome
packaging
parso
paypalrestsdk
pillow
pipwin
platformdirs
prompt_toolkit
proto-plus
protobuf
psycopg
psycopg2
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycparser
Pygments
pyjsparser
PyJWT
pyOpenSSL
pyparsing
PyPrind
pySmartDL
PySocks
python-crontab
python-dateutil
python-decouple
pytz
redis
requests
rsa
s3transfer
scipy
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
swapper
tablib
traitlets
trio
trio-websocket
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
virtualenv
virtualenvwrapper-win
wcwidth
whitenoise
wsproto